DefaultEncoder / getCanonicalizedURI returns mix encoding for HTML special characters

### Discussed in https://github.com/ESAPI/esapi-java-legacy/discussions/823

<div type='discussions-op-text'>

<sup>Originally posted by **krog78** January 19, 2024</sup>

Hi,

DefaultEncoder / getCanonicalizedURI returns mix encoding for HTML special characters in query string (and does not seem to canonicalize the parameter value despite the fact it is mentionned):

https://github.com/ESAPI/esapi-java-legacy/blob/2136292c2225ca8ff770d85f41364873218b7ff5/src/main/java/org/owasp/esapi/reference/DefaultEncoder.java#L573

And the canonicalize is applied to scheme, host, port and also UriSegment.SCHEMSPECIFICPART, is it really relevant?

Thanks,
Regards,
Sylvain
</div>

>     public void testGetCanonicalizedUriPiazza() throws Exception {
>         System.out.println("getCanonicalizedUriPiazza");
>         Encoder e = ESAPI.encoder();
> 
>         String expectedUri = "http://127.0.0.1:3000/campaigns?goal=all&section=active&sort-by=-id&status=Draft,Launched";
>         //Please note that section 3.2.1 of RFC-3986 explicitly states not to encode
>         //password information as in http://palpatine:password@foo.com, and this will
>         //not appear in the userinfo field.
>         String input = "http://127.0.0.1:3000/campaigns?goal=all&amp;section=active&sort-by=-id&status=Draft%2CLaunched";
>         URI uri = new URI(input);
>         System.out.println(uri.toString());
>         assertEquals(expectedUri, e.getCanonicalizedURI(uri));
> 
>     }

Moved @Krog78 's comment here.  

Found it.  As discussed in #823 the first call to canonicalize the entire query string is run into the canonicalize method and generates the false positive.  

Further research is necessary to determine exactly what is being detected because sweeping the input against standard HTML decoding (NOT ESAPI) results in zero change to the output.  (There's no collision, so what gives?)  

Not sure what to make of this one.  

![image](https://github.com/ESAPI/esapi-java-legacy/assets/9502785/149b396e-6057-4d59-8e83-fa26b4ebd927)

HTMLDecode absolutely transforms output here when it's not expected to.  



Issue 1:  the call to canonicalize on line 541 is attempting an early canonicalize in the case of the queries.  We're not supposed to touch those  until we've split the queries into key/value pairs.  This will be resolved by finessing the logic to placed 541 into the else block that checks to see if we're at the QUERY segment.  THAT will partially mitigate the problem by ensuring the check is done at the correct location.   

Issue 2:  Determine why the input `/webapp/ux/home?d=1705914006565&status=login&ticket=1705914090394_HzJpTROVfhW-JhRW0OqDbHu7tWXXlgrKSUmOzIMsZNCcUIiYGMXX_Q%3D%3D&newsess=false&roleid=DP010101/0007&origin=ourprogram` results in a transformation to `/webapp/ux/home?d=1705914006565&status=login&ticket=1705914090394_HzJpTROVfhW-JhRW0OqDbHu7tWXXlgrKSUmOzIMsZNCcUIiYGMXX_Q%3D%3D≠wsess=false&roleid=DP010101/0007∨igin=ourprogram` with the microscopic view of the text being:

```
&newsess=false&roleid=DP010101/0007&or
into
≠wsess=false&roleid=DP010101/0007∨
```

It appears that I solved that by looking at this.  The HTML entity Codec is translating `&ne` into `≠`, and then the &or detection is a legitimate bug that I'm staring at right now.  But at any rate, combined with the percents in the original input, that's a mixed encoding exception before we even get to the &or.  

I'm stumped as to why we're translating that &or however.  This is just strange.  

The FP issue will be fixed easy and can go whenever the next point release goes out, but the misdetection on &or.... who knows.  I think that's its own issue.  