HTTP cookie validation rules too restrictive?

Is there a reason why the current ESAPI rules are more restrictive than the RFC?

-----
ESAPI:

```
Validator.HTTPCookieName=^[a-zA-Z0-9\\-_]{1,32}$
Validator.HTTPCookieValue=^[a-zA-Z0-9\\-\\/+=_ ]*$
```
-----
from the RFCs - https://tools.ietf.org/html/rfc6265 and https://tools.ietf.org/html/rfc2616#section-2.2

```
cookie-name       = token
cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
token             = <token, defined in [RFC2616], Section 2.2>

token          = 1*<any CHAR except CTLs or separators>
```

Yes. RFCs were not designed to, and are not restrictive enough to limit attacks, so we offer a safe harbor.  Would be very difficult to perform SQL injection through =^[a-zA-Z0-9\\-\\/+=_ ]*$ for example.   So where possible, it’s safer to use a minimal character set.  Of course, if there’s a good reason to expand that, you’re welcome to do so.  I’d recommend escaping and parameterization for that data.

--Jeff


From: Scott Bartram <notifications@github.com>
Reply-To: ESAPI/esapi-java-legacy <reply@reply.github.com>
Date: Friday, November 10, 2017 at 10:58 AM
To: ESAPI/esapi-java-legacy <esapi-java-legacy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [ESAPI/esapi-java-legacy] HTTP cookie validation rules too restrictive? (#427)


Is there a reason why the current ESAPI rules are more restrictive than the RFC?

________________________________

ESAPI:

Validator.HTTPCookieName=^[a-zA-Z0-9\\-_]{1,32}$

Validator.HTTPCookieValue=^[a-zA-Z0-9\\-\\/+=_ ]*$

________________________________

from the RFCs - https://tools.ietf.org/html/rfc6265 and https://tools.ietf.org/html/rfc2616#section-2.2

cookie-name       = token

cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )

cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E

                       ; US-ASCII characters excluding CTLs,

                       ; whitespace DQUOTE, comma, semicolon,

                       ; and backslash

token             = <token, defined in [RFC2616], Section 2.2>



token          = 1*<any CHAR except CTLs or separators>

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/ESAPI/esapi-java-legacy/issues/427>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AClCzN2VQ-H1H51ImYBlJpjmyY1-7-B3ks5s1HKHgaJpZM4QZwR8>.


And to add to what @planetlevel says, this is NOT something that we will be fixing. There's a reason that they are the way they are, which Jeff already mentioned, and also a reason for them to be in a configurable ESAPI.properties file. Change them to whatever you wish for your own application. Now if you stating that you tried to change the properties and that new regex wasn't used, then there's a bug, and I'll reopen this. But this was a conscious decision and we are going to leave these 2 properties as-is.

That's fine.

It's not documented anywhere so I was looking for explanation /
clarification.


On Fri, Nov 10, 2017 at 2:11 PM, Kevin W. Wall <notifications@github.com>
wrote:

> Closed #427 <https://github.com/ESAPI/esapi-java-legacy/issues/427>.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/ESAPI/esapi-java-legacy/issues/427#event-1336637728>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAHYJAnZVFhNtnQEKLd0PRzdTuNbhW8Sks5s1J_ngaJpZM4QZwR8>
> .
>



-- 
Scott Bartram
Senior Architect, Partner
Bluewater Consulting Group LLC


The "safe harbor" approach described by @planetlevel is a common architecture / high-level design pattern / theme throughout much of ESAPI so you probably won't find it documented at the explicitly anywhere at the detailed level. That approach might be mentioned in some of the older overall ESAPI docs under the 'documentation' directory, and it not, it probably should be.