Multiple encoding issue for Google Chrome

Google Chrome has introduced new experimental feature - implementation of ua-client-hints https://wicg.github.io/ua-client-hints/. This implementation defines new headers which are sent by browser. And Chrome sends the following headers:
{code:java}
sec-ch-ua: v85 - "\\Not;A\"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
{code}

In our application we have AntiXSS filter which is implemented based on OWASP standards - https://owasp.org/www-project-enterprise-security-api/ 
We use Java library - https://github.com/ESAPI/esapi-java-legacy

The issue we are seeing: new sec-ch-ua header doesn't pass ESAPI validation and fails with the following error: INTRUSION - Multiple (2x) encoding detected in "\\Not;A\"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
Unfortunately some of our users in production use experimental features and they are facing blocker issue. Also we noticed that some user still have this issue even they disable experimental features.

Questions:
1. is this known issue?
2. What are recommendation on how to handle this issue?

In an effort to assist, I've identified that that Exception is thrown from the DefaultEncoder.canonicalize method (around line 180).

I've created a simple test emulating the input into that function given a typical workflow. Note that this test is designed to PASS when the Intrusion Exception is thrown.
```
    @Test (expected = IntrusionException.class)
	    public void testMultipleEncodingChromeFeature() throws Exception {
	        String testString = "\"\\Not;A\"Brand\";v=\"99\", \"Google Chrome\";v=\"85\", \"Chromium\";v=\"85\"";
	        System.out.println("TEST INPUT: " + testString);
	        Encoder instance = ESAPI.encoder();
	        //Most restrictive call format
	        instance.canonicalize(testString, true, true);
	    }
```
Given the default ESAPI test-scope configuration this test FAILS.  **I cannot presently replicate the listed results**
This is my test failure output:
```
java.lang.AssertionError: Expected exception: org.owasp.esapi.errors.IntrusionException
	at org.junit.internal.runners.statements.ExpectException.evaluate(ExpectException.java:34)
	at org.junit.internal.runners.statements.RunBefores.evaluate(RunBefores.java:26)
	at org.junit.internal.runners.statements.RunAfters.evaluate(RunAfters.java:27)
	at org.junit.rules.ExpectedException$ExpectedExceptionStatement.evaluate(ExpectedException.java:258)
```
This is the output I have in the terminal from the execution:

> ESAPI: WARNING: System property [org.owasp.esapi.opsteam] is not set
> ESAPI: WARNING: System property [org.owasp.esapi.devteam] is not set
> ESAPI: Attempting to load ESAPI.properties via file I/O.
> ESAPI: Attempting to load ESAPI.properties as resource file via file I/O.
> ESAPI: Not found in 'org.owasp.esapi.resources' directory or file not readable: C:\repositories\esapi-fork\ESAPI.properties
> ESAPI: Found in SystemResource Directory/resourceDirectory: C:\repositories\esapi-fork\target\test-classes\esapi\ESAPI.properties
> ESAPI: Loaded 'ESAPI.properties' properties file
> ESAPI: SecurityConfiguration for Validator.ConfigurationFile.MultiValued not found in ESAPI.properties. Using default: false
> ESAPI: Attempting to load validation.properties via file I/O.
> ESAPI: Attempting to load validation.properties as resource file via file I/O.
> ESAPI: Not found in 'org.owasp.esapi.resources' directory or file not readable: C:\repositories\esapi-fork\validation.properties
> ESAPI: Found in SystemResource Directory/resourceDirectory: C:\repositories\esapi-fork\target\test-classes\esapi\validation.properties
> ESAPI: Loaded 'validation.properties' properties file
> TEST INPUT: "\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"

Please take note of the last line in the terminal.  I believe that shows that my input does correctly reflect the troublesome content. 

---
Some thoughts here:
1. Are you using the latest version of the ESAPI Library?  ([2.2.0.0](https://mvnrepository.com/artifact/org.owasp.esapi/esapi/2.2.0.0) is the latest)
2. Do you modify the set of encoders used by the Default Encoder by default?



@jeremiahjstacey  thanks for quick reaction on this issue.

I took a look at your output and the string after "TEST INPUT" is not the same we receive from Chrome. it doesn't have double encoding. It should be the following:
`"\\Not;A\"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"`

Seems like you need to add "\\" before "Not" in tests.

We are using 2.2.0.0. Sorry for not providing that in the beginning. 



Thank you for the clarification.  I am now able to replicate the failure with the content listed below.  

```
  @Test (expected = IntrusionException.class)
	    public void testMultipleEncodingChromeFeature() throws Exception {
	        String testString = "\"\\\\Not;A\"Brand\";v=\"99\", \"Google Chrome\";v=\"85\", \"Chromium\";v=\"85\"";
	        System.out.println("TEST INPUT: " + testString);
	        Encoder instance = ESAPI.encoder();
	        //Most restrictive call format
	        instance.canonicalize(testString, true, true);
	    }
```

> TEST INPUT: "\\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
> [2020-10-07 08:30:05] [IntrusionException] [SECURITY FAILURE Anonymous:@unknown -> /ExampleApplication/IntrusionException] INTRUSION - Multiple (2x) encoding detected in "\\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85" 

@atom-x it would save me alot of time if you could give me some more context on how we're using esapi in a code snippet.  Could you give me what the validation call looks like?  Off the cuff, by default the canonicalize method applies (3?) codecs, I suspect it's the Javascript codec that's causing the problem here, but unfortunately you can't remove codecs without affecting the *entire* library.  



nevermind, if you get an email notification on that last post, I deleted it.  Jeremiah's replicating it.  

@jeremiahjstacey do you have any ideas or suggestion on how to handle it?

I will need to look closer before I can say more.  I may not be able to do more with this until this evening.


The short workaround, as in, what you could do right nowt, turn the canonicalization feature off on that specific call in the validator.  Canonicalize gets used globally, but a flaw in the library design is that you really want different canonicalizations in different contexts.  

I bet $50 that it's the javascript codec that's triggering the mixed-encoding exception.  There's 3ish codecs that are chained in a canonicalize call, and none of those contexts are really appropriate for an HTTP header which has pretty relaxed rules on what can and can't be in there.  

@xeno6696 unfortunately we cannot do that easily. AntiXSS filter is being use for all our services and process all incoming http requests. it will take much time to hot fix all services and re-deploy.
We came up with another quick solutions - exclude the header on API gateway level. so services want get it at all.

@xeno6696  Verified that it is the javascript codec.  With the aforementioned failing test, I commented-out the javascript codec from the default encoder's constructor and the test is failing again.

Continuing to look into this.   I believe I understand the essence of the behavior that is causing the result.   

I have made a couple of updates to the DefaultEncoder in my environment to test the workflow:
  1.  I have removed the HTML and Percent Codec from the codecs list for the purpose of testing.
  2. In the canonicalize method, where the found count is incremented, I am outputting the value of the 'working' variable which represents the state of the input string in the current state, having been run through all previous codecs.  (This logic is a little confusing to me, but effectively the working variable is the additive state of all calls of encode)

My output is formatted as:  `CodecName: encodingCount

>TEST INPUT: "\\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
> JavaScriptCodec:1  -> "\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
> JavaScriptCodec:2  -> "Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85"
> [2020-10-08 03:00:10] [IntrusionException] [SECURITY FAILURE Anonymous:@unknown -> /ExampleApplication/IntrusionException] INTRUSION - Multiple (2x) encoding detected in "\\Not;A"Brand";v="99", "Google Chrome";v="85", "Chromium";v="85" 

Through this, we can see that the input is being mutated each pass through the JavaScriptCodec instance.  Though the input is changed, the reason for the change does not seem to be related to an attack vector, from what I am familiar with. 

I do not see a way to adjust the behavior of the DefaultEncoder or the JavaScriptCodec through the ESAPI configurations at runtime.  Assuming that my assessment is accurate, I believe this will need to be a code modification to account for the behavior at this level.

---
I have only explored this from the perspective of the DefaultEncoder.   There is still a possibility that a complimentary configuration exists through the DefaultValidator implementation.  I intend to explore this next.  I am assuming that the header information is being passed through the DefaultValidator through one of the public API functions.  It appears that the most likely workflow is through the SecurityWrapper Filter implementation.  I am going to step through that logic and see if there are other options that can be influenced at runtime.

Please let me know if your application is not using the SecurityWrapper Filter so I can focus on the correct logic path.  If there is explicit logic calling the ESAPI API elements from your baseline, I would appreciate it if you could attach the applicable code to this issue.

Continuing down the path of the SecurityWrapper, there are several header-related functions for both name and value checking.

Fortunately, they all basically boil down to a call to `Validator.getValidInput(String, String, String, int, boolean)`

- It is important to note that the call is delegated down to `Validator.getValidInput(String, String, String, int, boolean, boolean)`
- The second boolean value is the option to canonicalize, which will always be true in this workflow.

The implementation of that function in DefaultValidator basically delegates off to the `StringValidationRule.getValid(String,String)`

It is in the implementation of the StringValidationRule that the canonicalize method is invoked.  If the call to canonicalize throws an exception there is not an option for recovery.  The input is seen as invalid and the invocation is halted.

Although there are several configuration settings applied to the StringValidationRule from the DefaultValidator, there is not an obvious configuration change that would alter the behavior.  

This would have to be another code change.  Either we would have to update the SecurityWrapper to call `Validator.getValidInput(String, String, String, int, boolean, boolean)`, where the final boolean is false (disabling canonicalization for headers in that context), or we would need to look at the logic in the StringValidationRule to adjust the workflow.  I can see a case to debate updates such as:

- Inspect the raw input against Whitelist content both before and after canonicalization and accept raw input that matches whitelist elements as valid with no additional operations.
- Update the behavior of getValid to not throw Exceptions.  Instead, forcibly change the input and only return a safe string. This has much wider sweeping consequences in the library at this time since there is not a fine line between isValid and getValid calls.  Often getValid appears to be treated as the isValid check, assuming that exceptions will be thrown if the input is deemed dangerous rather than returning a safe string reference.  Since the library does not mutate or return the safe String through much of the default API, this strategy would most likely result in inputs being cleaned and invalid (potentially dangerous) input values being propagated into the application.  Rather avoid this option for these reasons.



My current conclusion is that there is not a way to alter this behavior from the configurations of the current ESAPI implementation.  All paths lead to DefaultEncoder.canonicalize or StringValidationRule.getValid.  None of the obvious paths appear to be manipulated through configuration, and any configuration that would influence the outcome on a granular scale are applied after the IntrusionException is detected.  I believe that the baseline will require updates to handle the use case.

An option may be to apply further customization to your application.  Creating your own SecurityWrapper Filter that would alter the default code flow.  You may also be able to create a custom Encoder class for your desired behavior and set that as the instance ESAPI resolves.  That may give you the option to alter the behavior by inspecting the context string in the getValid methods and have a customized block of logic for this use case.  I realize that this is not the most preferred approach.  From what I've seen of the baseline, this may be your fastest course to resolution until we can discuss the changes that need to be made, get them applied and tested, and publish another artifact.

we have found a workaround for now. We simply skip this header on API gateway level.
But it's definitely a short term solution.

I'm wondering why nobody reported about this issue earlier. it appears for any requests coming from Chrome with experimental features enabled.

Maybe we are doing something wrong? Do you have recommendation on correct usage of ESAPI library and configuration tips? 

> Maybe we are doing something wrong? Do you have recommendation on correct usage of ESAPI library and configuration tips?

If you'll forgive me a seemingly tangential history lesson... ESAPI was orginally built about 15yrs ago when the Java world had mostly moved away from Java Scriptlets and had mostly embraced JSPs.  The general principle of secure coding is to escape at the exact interface where you're handing off from one interpreter to another when handling user input, and then to handle input validation--again on a case-by-case basis--just before you do data processing or are preparing to store the value.  

The number one mistake I've seen folks do--and I tried this myself before I started contributing--is to create a centralized place to try and generically handle input at one location like a specialized servlet filter or AOP interceptor that intercepts all incoming requests.  This method is alluring purely from a code maintenance perspective--in theory you only have to write validation logic once.

However...

Because you **have to know how each input value is going to be used in advance**, this centralized solution quickly becomes unwieldy in any application of decent complexity.  I'd need to know more about what your implementation looks like, but from what little you've told me here, my sense is that you've got something like this if your input validation isn't being handled only right when its about to be used, and you can't handle call changes on a case-by-case basis.  One code smell I've seen is that the interceptor or filter logic starts to build a large set of if/then or switch statements that begins to inspect request contexts.  Which... I'm about to recommend.  :-(

The canonicalize method, by default--which means for everybody because I've never witnessed anyone messing with this config--looks at HTML, Javascript, and percent encoding, because the three main sources of input data we expect from a user are URI, HTML values, and Javascript values. These are the typical attack vectors used when attempting mixed or multi-encoding.  Header values aren't considered.  (We don't even have a Codec for them.)  

However one case showed the flaw in this approach:  URIs.  URIs are complicated enough that they're a language in and of themselves, despite not being used as programming languages, and so passing a URI to canonicalize prior to when I started making contributions would fail if it had parameters that by accident also mapped to known values for HTML entities.  Let me be clear:  It will still fail, because you need to use a canonicalization technique that looks at URIs as the special cases they are.

You would never realize this problem if you had used the library case-by-case because you'd get the mixed encoding exception, write a ticket to ESAPI that the validator didn't work for your URL, and then flip mixed encoding off when validating a URI, and perhaps turn it off multiple places in your codebase where you're taking a URI as input.  

You're witnessing the same problem, but for HTTP Headers.  The solution is [for ESAPI] to create a context-sensitive canonicalization method that more narrowly handles the particular use case of Header parameter values.  The rules are much less relaxed for an HTTP Header than for the typical contexts you'd see by ESAPI's original design.  It's smelly, but the best path for you would be:

When a mixed or multi exception is thrown by ESAPI, is it an HTTP Parameter value?  if yes, handle differently.  

So in short, yes I suspect your team isn't using the library as intended, but part of that is our fault because it's also true none of the training materials I'm aware of make it explicit the overall design goals and expected usages of the library.  

@xeno6696 wrote:

> So in short, yes I suspect your team isn't using the library as intended, but part of that is our fault because it's also true none of the training materials I'm aware of make it explicit the overall design goals and expected usages of the library.

That's definitely true. I have tried to improve that a bit--at least for the output encoding--as part of the latest ESAPI 2.1.1.1 release. Specifically, if you read the Javadoc for the `Encoder` class at:
https://www.javadoc.io/doc/org.owasp.esapi/esapi/latest/org/owasp/esapi/Encoder.html
you will see that it has been substantially rewritten. Hopefully that will add a little clarity until we can something that is more tutorial oriented in nature. In the meantime, you should probably start with the [OWASP Cross-Site Scripting Prevention Cheat Sheet](https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html).

I think both that cheat sheet and now our `Encoder` Javadoc recommends placing the output encoding as close to the 'sink' as possible. In particular, trying to add the appropriate _output_ encoding as a JavaEE servlet filter or as a Spring interceptor, etc. is almost always a fools errand. First off, it is usually too late because an successfully injected malicious XSS payload may already have been injected by the time you process it. Secondly, your filter or interceptor would have to contain way too much smarts (at least to be efficient) to be able to figure out the proper **_intended_** context (HTML attribute, between HTML tags, JavaScript, CSS, or URL) that it needs to select the appropriate encoder. In short, if you are using ESAPI's `Encoder` or the Encoder from the [OWASP Java Encoder Project](https://owasp.org/www-project-java-encoder/), you are almost certainly "doing it wrong". Unless you are using `Encoder.encodeForURL()` everywhere, it is almost certain that you will have places where you allow malicious XSS payloads through--even if you did not discover any. However, even using the `encodeForURL()` will have problems because it would over-encode some contexts and end up breaking your code resulting in either incorrectly encoded HTML or in unintentionally breaking your JavaScript.
The most important takeaway here is that output encoding is context specific and if you are doing output encoding on the output side of a filter or interceptor that _intended_ context will not be know (unless you are also perhaps meticulously inserting some special markers in your JSPs that you later have your filter / interceptor remove or have something akin to a complete HTML / JavaScript parser).  You would have better luck trying to validate HTTP headers and POST or query parameters for some basic sanity checks using an allow-list approach, but keep in mind that input validation generally is not 100% sufficient in itself to prevent XSS.

Also, as I'm sure @xeno6696 and @jeremiahjstacey are aware, but others reading through this GitHub issue may not be, part of what makes it difficult to fix this is that almost (maybe all?) of the ESAPI reference implementations are implemented using a singleton pattern. That limits the ability of users of ESAPI to make specific tweaks that they may need to make in their code. (For instance, in this case, if DefaultEncoder were not a singleton, it would be easy to add methods to the Encoder interface to tweak things like whether or not to cannonicalize, which encoders to use when checking for the validity of input to see if the input is double-encoded, etc. But since DefaultEncoder is implemented as a singleton, adding the possibility of such tweaks in the Encoder interface would be pointless because changing it one place would change it everywhere you are using DefaultEncoder and that would cause lots of problems since JavaEE servlets are multi-threaded. So that makes this difficult for us to fix without doing a major rewrite to DefaultEncoder and ditching the singleton pattern. (Note that we intend on doing that when we get to ESAPI 3 as all of 3 of us consider this specific use of the singleton pattern in the ESAPI reference implementation classes to in fact be an anti-pattern.)

I faced with same problem and ignored Google Chrome User Client Hints headers(sec-ch headers) as a workaround solution. Are there any actions on this issue?

@justayar from the email history, @kwwall and @jeremiahjstacey are in agreement with me that @atom-x 's issue appears to be a usage-related issue and not a library bug.  The canonicalize method was _never_ designed with HTTP Headers as a valid input vector.  It's use-case was always HTML-centric, assuming that the normal data flow for most applications would come via the body of any http message. 

Any fix for this will be a feature request for a HTTP Header Value codec and a canonicalization path conformant with RFC-7320 [section 3.2.6.](https://www.greenbytes.de/tech/webdav/rfc7230.html#field.components)





Workarounds:  Handle header input validation via ESAPI validator method creating a custom regex validation whitelist for your application.  Turn off multi encoding check or catch/log appropriately the multiple encoding exception using proper log sanitization.  This will reduce safety for parameters you check this way but you can mitigate this by standard output encoding practices.  

If you're using a third-party library that is handling this check by ultimately delegating to DefaultEncoder.canonicalize() the caller is misusing ESAPI here as that method's assumption is NOT for HTTP Headers.  

Closing this as a duplicate of #578 